/* Footer Section */
footer {
    background-color: white;
    color: black;
}
@media only screen and (max-width: 768px) {
    .footer-baba {
        flex-wrap: wrap;
        
    
    }
}
.footer-baba {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 44px 46px;
    gap: 21px;
    border-top: 1px solid #d5d5d5;
    padding-bottom: 3px !important;

}
.footer_copyRight>:nth-child(2){
    margin: 0px 9px;
    text-align: center;
}

.footer-section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
}

.footer-section1>img {
    margin-top: -33px;
    width: 204px;
}

.footer-section1>:nth-child(2) {
    font-size: 13px;
    font-weight: 500;
    width: 273px;
}

.footer-section1>:nth-child(3) {
 margin: 0;   
}
.liformail{
    margin-top: -14px;
}

.footer-section1>:nth-child(4) {
    font-size: 13px;
    font-weight: 500;
    width: 246px;
    margin-top: -27px;
}

.footer-section2 {
    display: flex;
    max-width: -webkit-fill-available;
    flex-direction: column;
}

.footer-section2>ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.footer-section2>ul>li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}

.footer-section2>ul>li>a {
    text-decoration: none;
    font-size: 13px;
    color: black;
    font-weight: 500;
}
.officialSec>ul>li{
    display: flex;
    
}
.officialSec>ul>li>svg{
    color: red !important;
    margin-right: 5px;
    
}
.liformail{
    display: flex;
}
.footer-section2>ul>li>.liforEmail>a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: 500;
}

.footer-section4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-section4>:nth-child(2) {
    width: 400px;
}

.liforEmail {
    display: flex;
    flex-direction: column;
    gap: 1px;

}

.downloadSec>ul{
    gap: 0px !important;
}
.downloadSec {
    gap: 0px !important;
}

.downloadSec>p {
    margin: 0;
}

.downloadSec>ul>:nth-child(5) {
    
}

.footer-icons {
    display: flex;
    gap: 20px;

}

.carosel-stle {
    width: 100%;
}
.downloadSec>p{
    margin-left: 0px !important;
    padding-left: 0px !important;
}
.footer-section2>p {
    font-size: 23px;
    color: #1d1b4c;
    font-weight: 700;
    width: max-content;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 0;
}

.footer-icons2>img {
    width: 30px;
    height: 30px;
}

.footer-icons2>:nth-child(1) {
    width: 49px;
    height: fit-content;
    margin-top: -8px;
    margin-right: -9px;
}

.footer-icons2>:nth-child(5) {
    width: 52px;
    margin-left: -9px;
    margin-top: -11px;
    height: fit-content;
}

.footer-icons2 {
    display: flex;
    gap: 1px;

}
.footer_copyRight{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    height: max-content;
    padding: 8px 0px;
}
.footer_copyRight>span>a{
   text-decoration: none;
}



/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
    .Contact-boxes1 > iframe {
        border: 0;
        width: fit-content;
        height: -webkit-fill-available;
    }
  }