#serviceAepsCArdSrvs {
  background-color: #ffee90;
  width: 100%;
  margin: 0px;
  padding: 69px 73px;
}
.contentLmore1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}
.contentLmore1 > span {
  font-size: 32px;
  font-weight: 600;
}
.lmore-part2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.lmore-part2 > img {
  width: 400px;
}
.lmore-part2 > ul {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 500;
}
.lmore-part2 > ul > li {
  list-style-type: disclosure-closed;
}

.contentLmore2 {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 83px;
  margin-top: 56px;
  margin-bottom: 42px;
}
.contentLmore2 > .lmorepart11 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 30px;
  background-image: url('../Images/background-2899247_1280.jpg');
  font-size: 14px;
  padding: 80px 55px;
}
.lmorepart11 > span {
  font-size: 40px;
  font-weight: 600;
}
.lmorepart11 .ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 500;
}
.lmorepart11 > ul > li {
  list-style-type: disclosure-closed;
}

.lmorepart12 {
  max-width: 414px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;
  gap: 36px;
  padding: 47px 10px;
}
.lmorepart12 > span {
  font-size: 30px;
  font-weight: 600;
}
.lmorepart12 > .ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 500;
}
.lmorepart12 > ul > li {
  list-style-type: disclosure-closed;
}

.galLmoreBox {
    background-image: url('../Images/background-calling.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px;
  padding: 100px;
  align-items: center;
}
.galLmoreBox > :nth-child(1) {
  font-size: 30px;
  color: #ffff;
  font-weight: 700;
}
.galLmoreBox > :nth-child(2) {
    font-size: 21px;
    color: #ffff;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 20px;
}


.galLmoreBox > :nth-child(3) {
  background-color: orange;
  width: fit-content;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  padding: 5px 20px;
  color: white;
  text-decoration: none;
}
